<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css"/>
    </head>
    <body>
       
        <button id="start">Start job</button>
        <button id="status">Get current job status</button>
        <a href="/job/progress">String progress page</a>
        
        <br/>
        
        <div id="log"></div>
        
        <br/>
        
        <script src="js/bar.js"></script>
        <script src="js/wsManager.js"></script>
        <script src="js/init.js"></script>
    </body>
</html>